# React Native
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
.pnp.*
.pnpm-debug.log

# React Native packager
.expo/
.expo-shared/
*.expo

# Android
android/.gradle/
android/app/build/
android/build/
*.iml
.gradle/
captures/
.externalNativeBuild/
.cxx

# iOS
ios/Pods/
ios/build/
ios/*.pbxuser
ios/*.mode1v3
ios/*.mode2v3
ios/*.perspectivev3
ios/xcuserdata/
ios/DerivedData/
ios/*.xcworkspace
*.xcuserstate

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/

# IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Misc
*.log
*.lock
*.tmp
.DS_Store
