name: Android CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    name: Build Android Release
    runs-on: ubuntu-latest

    steps:
      # Checkout code
      - name: Checkout repository
        uses: actions/checkout@v3

      # Set up Java 17
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 17

      # Set up Node.js
      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20

      # Install Yarn
      - name: Install Yarn
        run: npm install -g yarn

      # Install project dependencies
      - name: Install dependencies
        run: yarn install

      # Setup Android SDK
      - name: Setup Android SDK
        uses: android-actions/setup-android@v2
        with:
          android-version: 36
          build-tools-version: 36.0.0

      # Make gradlew executable
      - name: Make gradlew executable
        run: chmod +x android/gradlew

      
      # 7️⃣ Make gradlew executable & build APK
      - name: Build Android Release
        run: |
          cd android
          chmod +x ./gradlew
          ./gradlew assembleRelease --stacktrace
    

      # Upload APK as artifact
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
         name: app-release-apk
         path: android/app/build/outputs/apk/release/app-release.apk
