name: Build & Publish Release APK

on:
  push:
    tags:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup JDK 17  # RN requires 17+
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 17

      - name: Setup Android SDK
        uses: android-actions/setup-android@v2

      - name: Make Gradle executable
        run: chmod +x android/gradlew

      - name: Build Release APK (React Native)
        run: |
          cd android
          ./gradlew assembleRelease --stacktrace

      - name: Upload & Publish APK
        uses: sangatdesai/release-apk@main
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN }}
          APP_FOLDER: android/app
